# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (if not using a global one)
venv/
.env

# Configuration and secret files (DO NOT expose credentials)
client_secrets.json

# Dependency files (if using Pipenv)
Pipfile.lock

# Flask session and instance files
flask_session/



# Log files
*.log

# OAuth and authentication config

